## Semana 01

- Descripción: Curso de Fundamentos de Python
- Semana : 01
- Autor: Jaime Gomez
- Fecha: 20/09/2025
- Versión:1

In [1]:
print("Hola Mundo")

Hola Mundo

In [2]:
'''
Descripción: Es mi primera aplicación
Autor: Jaime Gomez
Fecha: 20/09/2025
Versión:1
'''

# Definicion de una variable
nombre = "Jaime Gomez"

# Muestro el nombre por pantalla

# 1
print("Bienvenido al curso estimado", nombre)

# 2
print("Bienvenido al curso estimado " + nombre)

# 3
print(f"Bienvenido al curso estimado {nombre}")

Bienvenido al curso estimado Jaime Gomez
Bienvenido al curso estimado Jaime Gomez
Bienvenido al curso estimado Jaime Gomez

In [3]:
# Definicion de una variable
nombre = "Manuel Ricardo"

# Notacion ?
apellido_paterno = "Vasquez"

# Notacion Camel
apellidoMaterno = "Garcia"

# Muestro el nombre por pantalla
print("Bienvenido al curso estimado", \
      nombre, apellido_paterno, apellidoMaterno)

Bienvenido al curso estimado Manuel Ricardo Vasquez Garcia

## 2.- Definición de tipos de variables

In [4]:

var_x = "Jaime"

tipo_var_x = type(var_x)

print("La variable var_x es de tipo",tipo_var_x)

'''
var_x = 12
var_x = 1.3

print(var_x)
'''

La variable var_x es de tipo <class 'str'>

'\nvar_x = 12\nvar_x = 1.3\n\nprint(var_x)\n'

## Ejercicio 2

### Crear 3 variables
- Una variable es tu nombre
- Una variable es tu nro. favorito
- Una variable es si te gusta el tenis? . True o False

### Imprimir los valores y el tipo de datos para cada caso

In [5]:
#Variable Nombre
x = "Martín"


#Variable número favorito
Y = 3


#Si te gusta el tenis
Z = True


print("Nombre:",x,";","Número Favorito:",Y,";","Te gusta el Tennis:",Z)

print(f"Mi nombre es {x} , mi número favorito es {Y} y el Tennis {Z}")

Nombre: Martín ; Número Favorito: 3 ; Te gusta el Tennis: True
Mi nombre es Martín , mi número favorito es 3 y el Tennis True

## 3.- Ingreso de datos

In [ ]:
# Ingresar un dato
nombre = input("Ingresar tu nombre: ")

# Calculo de longitud de caracteres
longitud = len(nombre)

# Salida
print(f"Tu nombre es {nombre} y tiene {longitud} letras")

## Ejercicio 3

### Ingresar 2 variables
- Una variable es tu nombre
- Una variable es tu apellido paterno

### Imprimir los nombre ingresados , y la cantidad total de letras de tu nombre y apellido paterno

In [ ]:
# Ingreso mi nombre
nombre = input("Ingresar tu nombre ")


#Ingreso mi apellido


apellido = input("Ingresar tu apellido ")


#Calculo de caracteres totales


a = len(nombre)
b = len(apellido)
c = a + b


#Salida


print(f"Tu nombre es {nombre} {apellido} y tiene en total {c} letras")

## 4.- Operadores Matemáticos

In [ ]:
a,b = 7,5

s = a + b
print(s)

r = a - b
print(r)

m = a * b
print(m)

d = a / b
print(d)

In [ ]:
a,b = 7,5

de = a // b
print(de)

re = a % b
print(re)

po = a**b
print(po)

In [ ]:
a = "12"
b = "15"

a = 12
b = 15

print(a+b)

# ¿Como convertir una cadena a entero? -->int()

valor = "12"

valor_numerico = int(valor)

print(valor_numerico)

## Ejercicio 4
Ingresar los valores de a, b y c por teclado y calcular las raíces de la ecuación.

<img src="https://blog.orange.es/wp-content/uploads/sites/4/2025/03/ecuaciones-de-segundo-grado-como-resolverlas.jpg" width="200"> </img>

In [ ]:
a = input("Ingresar valor de a :")
b = input("Ingresar valor de b :")
c = input("Ingresar valor de c :")

a = int(a)

In [ ]:
# Ingresar los coeficientes


a = int(input("Ingresar el coeficiente a "))
b = int(input("Ingresar el coeficiente b "))
c = int(input("Ingresar el coeficiente c "))

#Calculo de soluciones

x1 = (-b + (b**2 - 4*a*c)**(1/2))/(2*a)
x2 = (-b - (b**2 - 4*a*c)**(1/2))/(2*a)

#Salida
print(f"Las soluciones son {x1} y {x2}")

In [ ]:
# Valores de a, b y c
a = input("Ingrese el valor de a:")
b = input("Ingrese el valor de b:")
c = input("Ingrese el valor de c:")
a=int(a)
b=int(b)
c=int(c)
# Calculamos el discriminante
discriminante = b**2 - 4*a*c


# Calculamos las dos soluciones
x1 = (-b + discriminante**0.5) / (2*a)
x2 = (-b - discriminante**0.5) / (2*a)


# Mostramos los resultados
print("Solución 1:", x1)
print("Solución 2:", x2)

## Operadores logicos

In [ ]:
edad_maria , edad_carlos = 14, 16

exp_b = edad_maria > edad_carlos
print(exp_b)

exp_b = edad_maria >= edad_carlos
print(exp_b)

exp_b = edad_maria < edad_carlos
print(exp_b)

exp_b = edad_maria == edad_carlos
print(exp_b)

exp_b = edad_maria != edad_carlos
print(exp_b)

## Operadores booleanos

<img src="https://introcs.cs.princeton.edu/python/12types/images/BoolOperators.png" ></img>

In [ ]:
a, b = True, False

exp_b = a and b # &
print(exp_b)

exp_b = a or b # |
print(exp_b)

exp_b = not b
print(exp_b)

In [ ]:
'''
Si tienes más de 10 años puedes llevar un curso de Python o
Si tiene más de 13 años puedes llevar un curso de Java
'''

edad = 10

exp_a = (edad > 10 or edad > 13)


'''
Si es sabado y es por la tarde entonces estas llevando un curso de Python

'''
es_sabado = True
es_tarde = True

exp_b = (es_sabado and es_tarde)


'''
Si asistes a todas las clases y apruebas el examen final podras obtener la certificación.

'''

'''
Si tienes mas de 18 años y eres peruanos puedes participar en las elecciones presidenciales
'''

'''
Si tienes mas de 65 años y has aportado 20 años a tu jubilación puedes jubilarte.
'''

In [ ]:
'''
Si asistes a todas las clases y apruebas el examen final podras obtener la certificación.

'''
asis_clases = True
aprb_efinal = False

exp_a=(asis_clases and aprb_efinal)
print (exp_a)

'''
Si tienes mas de 18 años y eres peruanos puedes participar en las elecciones presidenciales
'''
edad1, pais = 26,"Perú"

exp_b=(edad1 >= 18 and pais == "Perú")
print (exp_b)

'''
Si tienes mas de 65 años y has aportado 20 años a tu jubilación puedes jubilarte.
'''
edad2,años_jub = 65,15

exp_c=(edad2 >= 65 and años_jub >= 20)
print (exp_c)

## Cadenas

In [ ]:

#      0123456789.....
msg = "Mi nuevo mensaje"

# Indices positivos
print(msg)
print(msg[0])
print(msg[15])

# Indices negativos
print(msg[-1])
print(msg[-16])

In [ ]:
mensaje = "En un lugar de la Mancha, de cuyo nombre no quiero acordarme"

print(mensaje[0])
print(mensaje[-1])

### Ejercicio 5

Dada la serie  "123456789" en un texto, calcular la suma de los digitos

<img src ="https://www.ejemplode.com/images/uploads/matematicas/series_aritmeticas-formulas.png?1520218210716" />

In [ ]:
serie = "123456789"

#extraigo las cifras y las convierto a enteros


a1 = int(serie[0])
an = int(serie[-1])


# calculo el numero de elementos


n = len(serie)


# Calculo la suma de todos los elementos


sa = (n*(a1+an))/2


# Salida


print("La suma de los elementos de la serie es: ", sa)

## SLICE

In [ ]:
#                     15
#      0123456789
msg = "Mi nuevo mensaje"

print(msg[3:8:1])
print(msg[3:8:])
print(msg[3:8])

print(msg[0:4])
print(msg[:4])

print(msg[9:16])
print(msg[9:])

#print(msg[3:11:3])
#print(msg[-3:-11:-3])

print(msg[3:])
print(msg[0:])
print(msg[:])
print(msg)

In [ ]:
serie = "0123456789"

print(serie[::2])
print(serie[1::2])

## Comando IN

In [ ]:
'''
Dado un texto, ingresar una palabra por teclado
y verificar si la palabra existe en el texto

'''

texto = "En un lugar de la Mancha, de cuyo nombre no quiero acordarme"

texto = texto.upper()

palabra = input("Ingresar una palabra: ")

palabra = palabra.upper()

existe_en_texto = palabra in texto

print("¿La palabra esta en el texto?", existe_en_texto)

Funciones de Cadenas
- lower()
- upper()
- swapcase()
- capitalize()
- find()
- rfind()
- replace()

In [ ]:
"""
Ingresar una palabra, buscar la palabra en el texto y imprimir su posicion
La palabra buscada reemplazarlo por la palabra Python
Luego imprimir todo el mensaje en mayuscula.

Imprimir el texto del ultimo paso , invertido

"""


texto = "En un lugar de la Mancha, de cuyo nombre no quiero acordarme"
palabra= input("Ingresar una palabra: ")

existe_palabra=palabra in texto

print("¿La palabra esta en el texto?", existe_palabra)

texto = texto.replace(palabra,"Python")
print(texto)

texto = texto.upper()
print(texto)

texto = texto[::-1]
print(texto)