## Semana 03

- Descripción: Curso de Fundamentos de Python
- Semana 3: Fundamentos de programación
- Autor: Jaime Gomez
- Fecha: 04/10/2025
- Versión:1

In [6]:
mi_var = 5

print(mi_var > 5)
print("Lima" == "lima" )
print("Lima" != "lima" )

False
False
True

## Condicionales
### if

In [14]:

edad = 30

print("Inicio del programa")

if edad >= 18 :
    print("Puedes votar en las siguientes elecciones")

print("Fin de programa")

Inicio del programa
Puedes votar en las siguientes elecciones
Fin de programa

#### Ejercicio 1

- Pre Kids, requisito de edad : 6 a 7 años

Hacer un programa que valide si tiene 6 o 7 años puede llevar el curso, para tal fin solo se necesita imprimir el mensaje , "Puedes llevar el curso de Pre Kids"

In [16]:
edad = int(input("Ingrese la edad del niño: "))

if edad == 6 or edad == 7:
    print("Puedes llevar el curso")
print("Fin del programa")

Ingrese la edad del niño:  6

Puedes llevar el curso
Fin del programa

In [19]:
Edad = 6
if Edad ==6 or Edad ==7:
    print("Puedes llevar el curso de Pre Kids")

Puedes llevar el curso de Pre Kids

In [37]:
edad = 6

if ( edad > 5 and edad < 8 ):
    print("Puedes llevar el curso de Pre Kids")

Puedes llevar el curso de Pre Kids

In [27]:
edad = 5

if  5 < edad < 8 :
    print("Puedes llevar el curso de Pre Kids")

In [31]:
edad = 8

if  6 <= edad <= 7 :
    print("Puedes llevar el curso de Pre Kids")

In [35]:
edad = 5

if edad in (6,7) :
    print("Puedes llevar el curso de Pre Kids")

### if .. else

In [39]:
edad = 17

print("Inicio del programa")

if edad >= 18 :
    print("Puedes votar en las siguientes elecciones")
else:
    print("Aún eres menor de edad")

print("Fin de programa")

Inicio del programa
Aun eres menor de edad
Fin de programa

In [40]:
edad = 8

if  6 <= edad <= 7 :
    print("Puedes llevar el curso de Pre Kids")
else:
    print("Puedes revisar la página web")

Puedes revisar la página web

#### Ejercicio 2

- Control de temperatura de un horno

En el proceso de coción de un nuevo material el horno debe estar
en un rango de temperatura de 500 a 1000 grados centigrados. 
En caso la temperatura este fuera de rango debe activar el FLAG
de emergencia para generar el lanzamiento de la sirena

Realizar el programa

In [44]:
temperatura = float(input("La temperatura actual es:"))

if  temperatura >= 500 and temperatura <= 1000:
    print ("temperatura en rango normal")
else:
    print ("Flag de temperatura ALERTA")
    print ("LANZAMIENTO DE SIRENA")

La temperatura actual es: 400

Flag de temperatura ALERTA
LANZAMIENTO DE SIRENA

In [49]:
# Definicion de constantes del proceso
LIM_INF_TEMP_HORNO = 500
LIM_SUP_TEMP_HORNO = 1000

# Lectura de la temperatura del horno
temperatura_horno = 499

# Control de alarma, la alarma se activa si el flag es True
flag = False

# Analizando el proceso
if LIM_INF_TEMP_HORNO <= temperatura_horno <= LIM_SUP_TEMP_HORNO:
    flag = False
else:
    flag = True

# Imprimiendo el estado de la alarma
print(flag)

True

### if .. elif .. else

In [65]:
edad = 17.4

print("Inicio del programa")

# Validar que la edad es un dato entero 

if isinstance(edad, int):
    if edad < 18 :
        print("No puedes votar porque eres menor de edad")
    #elif 18 <= edad <= 65 :
    elif 18 <= edad and edad <= 65 :
        print("Esta obligado a votar en las siguientes elecciones")
    else:
        print("Puedes votar en las siguientes elecciones si lo deseas")
else:
    print(f"La edad es incorrecta -> {edad}")

print("Fin de programa")

Inicio del programa
La edad es incorrecta -> 17.4
Fin de programa

#### Ejercicio 3

- Pre Kids, requisito de edad : 6 a 7 años
- Infants,  requisito de edad : 4 a 5 años
- Kids, requisito de edad :  8 a 10 años
- Juniors,requisito de edad :  11 a 13 años
- Mayores, requisito de edad : 14 años a más
  
Hacer un programa que valide a que nivel se puede inscribir una persona para estudiar el ingles

In [71]:
edad = -1

if 0 <= edad < 4:
    print("Aún no se puede matricular")
elif 4 <= edad <= 5:
    print("Infants")
elif 6 <= edad <= 7:
    print("Pre Kids")
elif 8 <= edad <= 10:
    print("Kids")
elif 11 <= edad <= 13:
    print("Juniors")
elif edad >= 14:
    print("Mayores")
else:
    print("Edad desconocida")

Edad desconocida

In [75]:
print("Inicio del programa")
print("------------------------------")
edad = int(input("ingresa tu edad"))

if edad < 4:
    print("No tiene la edad para un nivel")
elif edad in (6,7):
   print("Nivel Pre Kids")   
elif edad in (4,5):
    print("Nivel infants")
elif 8<= edad <=10:
    print("Nivel KIDS")
elif 11<= edad <=13:
    print("Nivel JUNIORS")
else:
    print("Nivel de MAYORES")
    
print("------------------------------")
print("fin de programa")

Inicio del programa
------------------------------

ingresa tu edad -1

No tiene la edad para un nivel
------------------------------
fin de programa

## Bucles

### range()

In [79]:
for nro in range(10):
    print(nro)

0
1
2
3
4
5
6
7
8
9

In [81]:
for nro in range(10,20):
    print(nro)

10
11
12
13
14
15
16
17
18
19

In [82]:
for nro in range(10,40,2):
    print(nro)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

## Ejercicio 06

Imprimir los 40 número pares que no sean múltiplos de 4

In [98]:
cnp = 40

for nro in range(0,cnp*2,2):
    if nro % 4 != 0:
        print(nro)

2
6
10
14
18
22
26
30
34
38
42
46
50
54
58
62
66
70
74
78

### Barrido de una lista con for

In [106]:
pbi_pe = [206.461,226.268,244.419,
          267.482,289.070,303.293,	
          319.095,333.627,348.299,
          364.090,380.757]

for pbi in pbi_pe:
    print(f"PBI --> {pbi:.3f}") # .3f --> 3 decimales

PBI --> 206.461
PBI --> 226.268
PBI --> 244.419
PBI --> 267.482
PBI --> 289.070
PBI --> 303.293
PBI --> 319.095
PBI --> 333.627
PBI --> 348.299
PBI --> 364.090
PBI --> 380.757

### Ejercicio 07
Imprimir el PBI de Perú para los años 2020 al 2029, usar la información del ejercicio 06, debera imprimir de la siguiente manera

- PBI 2020 --> 206.461
- PBI 2021 --> 226.268
- PBI 2022 --> 244.419
- ...
- ...
- PBI 2029 --> 380.757

In [ ]:
pbi_pe = {2020:206.461,2021:226.268,2022:244.419,
     2023:267.482,2024:289.070,2025:303.293,	
     2026:319.095,2027:333.627,2028:348.299,
     2029:364.090,2030:380.757}

for año,pbi in pbi_pe.items():
  print(f"PBI {año} --> {pbi}")

In [116]:
pbi_pe = [206.461,226.268,244.419,
          267.482,289.070,303.293,	
          319.095,333.627,348.299,
          364.090,380.757]

anhos = [ x for x in range(2020,2030)]

dict_pbi_pe = dict(zip(anhos, pbi_pe))

for key,value in dict_pbi_pe.items():
      print(f"PBI {key} --> {value:.3f}")

PBI 2020 --> 206.461
PBI 2021 --> 226.268
PBI 2022 --> 244.419
PBI 2023 --> 267.482
PBI 2024 --> 289.070
PBI 2025 --> 303.293
PBI 2026 --> 319.095
PBI 2027 --> 333.627
PBI 2028 --> 348.299
PBI 2029 --> 364.090

### Ejercicio 08
Dado el PBI de los años 2020 al 2029 de Perú, agrupar en una nueva colección el PBI del Perú cuando sea mayor a 300 Mil Millones $, e imprimir la nueva colección de datos.

In [120]:
pbi_pe = [206.461,226.268,244.419,
          267.482,289.070,303.293,	
          319.095,333.627,348.299,
          364.090,380.757]

anhos = [ x for x in range(2020,2030)]

dict_pbi_pe = dict(zip(anhos, pbi_pe))

pbi_pe_M300 = dict()
for key,value in dict_pbi_pe.items():
    
    if value > 300:
        pbi_pe_M300[key] = value
        #print(f"PBI {key} --> {value:.3f}")

print(pbi_pe_M300)

{2025: 303.293, 2026: 319.095, 2027: 333.627, 2028: 348.299, 2029: 364.09}

### While

In [122]:
LIMIT_SUP = 2025

anho = 2000

while anho <= LIMIT_SUP:
    print(anho)
    anho = anho + 1

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025

In [123]:
LIMIT_SUP = 2025

anho = 2000

anhos = []
while anho <= LIMIT_SUP:
    #    print(anho)
    anhos.append(anho)
    anho = anho + 1

print(anhos)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]

### Funciones

In [125]:
valor1 = 4
valor2 = 5
valor3 = 10
valor4 = 8

suma = valor1 + valor2
print("El valor sumando es",suma)

suma = valor3 + valor4
print("El valor sumando es",suma)

suma = valor1 + valor3
print("El valor sumando es",suma)

El valor sumando es 9
El valor sumando es 18
El valor sumando es 14

In [128]:
# Definir una funcion
def imprimir_resultado(s):
    print("------inicio-------")
    print("El valor sumando es",s)

valor1 = 4
valor2 = 5
valor3 = 10
valor4 = 8

suma = valor1 + valor2
imprimir_resultado(suma) # Call function

suma = valor3 + valor4
imprimir_resultado(suma) # Call function

suma = valor1 + valor3
imprimir_resultado(suma) # Call function

------inicio-------
El valor sumando es 9
------inicio-------
El valor sumando es 18
------inicio-------
El valor sumando es 14

### Ejercicio 11

In [133]:

valor = 4
print("Mensaje de bienvenida")
print(f"El nro. ingresado es {valor}")

valor= 2
print("Mensaje de bienvenida")
print(f"El nro. ingresado es {valor}")

valor= 20
print("Mensaje de bienvenida")
print(f"El nro. ingresado es {valor}")

Mensaje de bienvenida
El nro. ingresado es 4
Mensaje de bienvenida
El nro. ingresado es 2
Mensaje de bienvenida
El nro. ingresado es 20

In [136]:
def funcion_msj(x):
    print("Mensaje de bienvenida")
    print(f"El nro. ingresado es {x}")

valor = 4
funcion_msj(valor)

valor= 2
funcion_msj(valor)

valor= 20
funcion_msj(valor)

Mensaje de bienvenida
El nro. ingresado es 4
Mensaje de bienvenida
El nro. ingresado es 2
Mensaje de bienvenida
El nro. ingresado es 20

In [138]:
def mostrar_mensaje(valor):
    print("Mensaje de bienvenida")
    print(f"El nro. ingresado es {valor}")

mostrar_mensaje(4)
mostrar_mensaje(2)
mostrar_mensaje(20)

Mensaje de bienvenida
El nro. ingresado es 4
Mensaje de bienvenida
El nro. ingresado es 2
Mensaje de bienvenida
El nro. ingresado es 20

### Funciones con varios parámetros

In [139]:
def f_sumar(v1,v2):
    suma = v1 + v2
    print("El valor sumando es",suma)

valor1 = 4
valor2 = 5
valor3 = 10
valor4 = 8

'''
suma = valor1 + valor2
print("El valor sumando es",suma)
'''
f_sumar(valor1,valor2)

'''
suma = valor3 + valor4
print("El valor sumando es",suma)
'''
f_sumar(valor3,valor4)


'''
suma = valor1 + valor3
print("El valor sumando es",suma)
'''
f_sumar(valor1,valor3)

El valor sumando es 9
El valor sumando es 18
El valor sumando es 14

### Ejercicio 13
Crear la funcion f_encriptar que reciva 2 parámetros : palabra y token

El algoritmo es agregar al final de la palabra el token e imprimir todo el resultado

In [140]:
def f_encriptar(p,t):
    print(f"{p} --> {t}")

palabra = input("La palabra es: ")
token = input("Ingrese token: ")

f_encriptar(palabra,token)

La palabra es:  python
Ingrese token:  12345

python --> 12345

### Funciones que retornar valores

In [142]:
def f_PI():
    return 3.1415

# Calcular el área de un circulo

radio = 2
pi = f_PI()
area = pi*(radio**2)

print(area)

12.566

In [ ]:
def f_suma(v1,v2):
    s = v1 + v2
    return s

valor1 = 14
valor2 = 12
suma = f_suma(valor1, valor2)

print(f"La suma es {suma}")

### Ejercicio 14

Crear funciones para realizar calculos matematicos
- f_raiz_cuadrada de un nro
- f_potencia , se pasa 2 valores, la base y el exponente
- f_division , se pasa 2 valores

calcular lo siguiente
a la raiz cuadrada de 4 le sumas 2 elevado a 3 y el resultado de lo anterior lo divides entre 5

In [150]:
def f_raiz_cuadrada(x):
    s = x ** 0.5
    return s

def f_potencia(x,y):
    s = x ** y
    return s

def f_division(x,y):
    s = x / y
    return s

res = f_raiz_cuadrada(4) + f_potencia(2,3)
f_division(res,5)

2.0

### Ejercicio 15

Crear una funcion f_traductor que realice la traducción de castellano a ingles, se tiene el 
siguiente diccionario

esp2eng = 
{"casa":"house",
 "pais":"country",
 "padre":"father",
 "feliz":"happy"
 }

### Funciones Lambda

In [157]:
# Introduccion

def f_potencia_2(n):
    return n*n

res = f_potencia_2(3)
print(res)

9

In [160]:
#            parametro : lo que retorna
f_potencia_2 = lambda n: n*n

res = f_potencia(3)
print(res)

res = f_potencia(5)
print(res)

9
25

### Ejercicio 16

Crear una funcion lambda para obtener la raiz cuadrada

In [159]:
f_raiz_2 = lambda n: n**0.5

res = f_raiz_2(4)
print(res)

2.0

In [163]:
f_x = lambda n: n**2
res = f_x(4)
print(res)
f_x = lambda n: n**0.5
res = f_x(4)
print(res)
f_x = lambda n: n**3
res = f_x(4)
print(res)

16
2.0
64

### Funciones Lambda con Filter

In [167]:
def f_obtener_pares(nros):
    pares = []
    for nro in nros:
        if nro % 2 == 0 :
            pares.append(nro)
    return pares

nros = [1,2,3,4,5,6,7,8]
print(f_obtener_pares(nros))

[2, 4, 6, 8]

In [1]:
nros = [1,2,3,4,5,6,7,8,9,10]
f_obtener_pares = list(filter(lambda n : n%2 == 0 , nros))
print(f_obtener_pares)

[2, 4, 6, 8, 10]

### Ejercicio 17

Crear una funcion lambda para obtener los numeros múltiplos de 4 de un listado de los 100 primeros números naturales

In [4]:
nros = [ x for x in range(1,101)]
# print(nros)

nro_multiplos_4 =  list(filter(lambda v : (v % 4 == 0), nros))
print(nro_multiplos_4)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

### Funciones Lambda con Map

In [9]:
def elevar_2(nros):

    nros2= []
    for nro in nros:
        nros2.append(nro**2)
    
    return nros2


nros = [ 1,2,3,4 ]

nros2 = elevar_2(nros)

#print(nros**2)
print(nros2)

[1, 4, 9, 16]

In [10]:
nros = [1, 2, 3, 4]
print(nros)
nro_elevado_2 =  list(map(lambda v : (v ** 2) , nros))
print(nro_elevado_2)

[1, 2, 3, 4]
[1, 4, 9, 16]

### Ejercicio 18

De los números de 25 a 75, sacar la raiz cuadrada de cada uno, y luego obtener los número mayores o iguales a 8

In [16]:

# Generar los números del 25 al 75
nros = [ a for a in range(25,76)]
# print(nros)

# Sacar la raíz cuadrada
nros_raiz2 = list(map(lambda n : n**0.5 , nros)) 
# print(nros_raiz2)
                  
# Filtrar los números
nros_filter = list(filter(lambda b : b >8 , nros_raiz2))
print(nros_filter)

[8.06225774829855, 8.12403840463596, 8.18535277187245, 8.246211251235321, 8.306623862918075, 8.366600265340756, 8.426149773176359, 8.48528137423857, 8.54400374531753, 8.602325267042627, 8.660254037844387]

### Funciones Reduce con Map

In [21]:
def mi_suma(datos):
    s = 0
    for i in datos:
        s = s+ i
    return s
    

nros = [ 1,2,3,4 ]

sum_nros = reduce(lambda x,y : x+y ,nros)

print(mi_suma(nros))
print(sum(nros))
print(sum_nros)

NameError: name 'reduce' is not defined