## Semana 04

- Descripción: Curso de Fundamentos de Python
- Semana 4: Manipulación de datos
- Autor: Jaime Gomez
- Fecha: 11/10/2025
- Versión:1

In [11]:
# open() es una funcion para abrir archivos
#  modo r : lectura
#  modo a : agregación

# Abrir archivo
mi_archivo = open("archivo1.txt",'r')

print(type(mi_archivo))
print(mi_archivo.name)

# TO DO
data = mi_archivo.read()
print(data)
print(mi_archivo.closed)

# Cerrar archivo
mi_archivo.close()
print(mi_archivo.closed)

<class '_io.TextIOWrapper'>
archivo1.txt
Linea 1
Linea 2
Linea 3
False
True

In [13]:
# open() es una funcion para abrir archivos
#  modo r : lectura
#  modo a : agregación

# Abrir archivo
with open("archivo1.txt",'r') as mi_archivo:
    contenido = mi_archivo.read()
    print(contenido)
    
print(mi_archivo.closed)

Linea 1
Linea 2
Linea 3
Linea 4
Linea 5
Linea 6
Linea 7
True

In [19]:
# open() es una funcion para abrir archivos
#  modo r : lectura
#  modo a : agregación

# Abrir archivo
with open("archivo1.txt",'r') as mi_archivo:
    contenido = mi_archivo.read(2)
    print(contenido)
    contenido = mi_archivo.read(2)
    print(contenido)

Li
ne

### Leer lineas de un archivo

In [23]:
with open("archivo1.txt",'r') as mi_archivo:
    contenido = mi_archivo.readline()
    print(contenido)
    contenido = mi_archivo.readline()
    print(contenido)

['Linea 1\n', 'Linea 2\n', 'Linea 3\n', 'Linea 4\n', 'Linea 5\n', 'Linea 6\n', 'Linea 7']

In [22]:
with open("archivo1.txt",'r') as mi_archivo:
    for una_linea in mi_archivo:
       print(una_linea)

Linea 1

Linea 2

Linea 3

Linea 4

Linea 5

Linea 6

Linea 7

In [25]:
with open("archivo1.txt",'r') as mi_archivo:
    contenido = mi_archivo.readlines()
    print(contenido)

for linea in contenido:
    print(linea)

['Linea 1\n', 'Linea 2\n', 'Linea 3\n', 'Linea 4\n', 'Linea 5\n', 'Linea 6\n', 'Linea 7']
Linea 1

Linea 2

Linea 3

Linea 4

Linea 5

Linea 6

Linea 7

### Ejercicio 1

Dado el archivo personas.txt, calcular lo siguiente

- Juan:Pastor:25:Pyhton
- Jose:Gomez:18:Pyhton
- Maribel:Alegria:22:Java
- Ana:Garcia:23:C#
- Pedro:Flores:20:Java
- Elizabeth:Alvarado:26:Pyhton
- Jaime:Alvarez:22:Pyhton
- Noemi:Palomino:26:Php
- Pedro:Davila:30:Php

Debe calcular

- Los lenguajes de programación favoritos
- Los apellidos de todos los participantes
- Los nombre de las personas mayores de 22 años

In [35]:
# Lectura de datos
nombre_archivo = "personas.txt"

contenido = []
with open(nombre_archivo,'r') as mi_archivo:
    contenido = mi_archivo.readlines()
    
# Tratamiento de los datos de los programas
progs = []
for una_linea in contenido:
    #print(una_linea)
    dato_persona = una_linea.split(':')
    progs.append(dato_persona[3])
    #print(dato_persona[3])
    
# Salida de los datos
print(set(progs))

{'C#\n', 'Java\n', 'Pyhton\n', 'Php\n'}

### Módulo y paquetes

In [38]:
def suma(a, b):
   return a+b

s = suma(4,5)

print(s)

9

In [1]:
from mate import resta, mul

r = resta(4,5)
print(r)

m = mul(4,5)
print(m)

-1
20

In [2]:
import mate as ma

r = ma.resta(4,5)
print(r)

m = ma.mul(4,5)
print(m)

d = ma.div(4,5)
print(d)

-1
20
0.8

In [21]:
def imprimir(mensaje, relleno="-" , nro_veces=2):
    for i in range(nro_veces):
        print(mensaje + relleno)

imprimir("hola", nro_veces=5)

hola-
hola-
hola-
hola-
hola-

### Pandas

In [11]:
import pandas as pd

personas = [
                ['Maria',18],
                ['Juan',25],
                ['Silvia',20],
                ['Albert',30]
            ]

df = pd.DataFrame(personas,columns=['nombre','edad'])

print(df)

   nombre  edad
0   Maria    18
1    Juan    25
2  Silvia    20
3  Albert    30

In [8]:
print(df['nombre'])

0     Maria
1      Juan
2    Silvia
3    Albert
Name: nombre, dtype: object

In [9]:
print(df['edad'])

0    18
1    25
2    20
3    30
Name: edad, dtype: int64

In [10]:
print(df[df['edad']>20])

   nombre  edad
1    Juan    25
3  Albert    30

In [22]:
import pandas as pd

personas = {
     "nombre": ['Maria','Juan','Silvia','Albert'],
     "edad":   [18,25,20,30]
}

df = pd.DataFrame(personas)

print(df)

   nombre  edad
0   Maria    18
1    Juan    25
2  Silvia    20
3  Albert    30

In [23]:
import pandas as pd

# Lectura de archivos

nombre_archivo = "personas.csv"

df = pd.read_csv(nombre_archivo)

print(df['nombre'])

0         Juan
1         Jose
2      Maribel
3          Ana
4        Pedro
5    Elizabeth
6        Jaime
7        Noemi
8        Pedro
Name: nombre, dtype: object

In [30]:
import pandas as pd

# Lectura de archivos

nombre_archivo = "medallero_Panamericanos_Lima2019.csv"

df = pd.read_csv(nombre_archivo)

df.head()

   Posicion            Pais  Oro  Plata  Bronce  Total  Ranking Total
0         1  Estados Unidos  120     88      85    293              1
1         2          Brasil   55     45      71    171              2
2         3          México   37     36      63    136              4
3         4          Canadá   35     64      53    152              3
4         5            Cuba   33     27      38     98              6

In [31]:
df.keys()

Index(['Posicion', 'Pais', 'Oro', 'Plata', 'Bronce', 'Total', 'Ranking Total'], dtype='object')

In [36]:
# Serie
df['Pais'].head() # para leer los últimos 5 registros se usa el tail()

0    Estados Unidos
1            Brasil
2            México
3            Canadá
4              Cuba
Name: Pais, dtype: object

In [40]:
# Dataframe
df[['Pais','Oro','Plata']].head()

             Pais  Oro  Plata
0  Estados Unidos  120     88
1          Brasil   55     45
2          México   37     36
3          Canadá   35     64
4            Cuba   33     27