## Semana 02

- Descripción: Curso de Fundamentos de Python
- Semana : 02
- Autor: Jaime Gomez
- Fecha: 27/09/2025
- Versión:1

## 1.- Tuplas

In [ ]:
#           0  1  2  3  4  5  6  7  8
t_serie = (10,20,30,40,50,60,70,80,90)
print(type(t_serie))
print(t_serie)

# Acceder a una posicion
print(t_serie[4])
print(t_serie[0])
print(t_serie[-1])

# Error de asignacion
# t_serie[0] = 21 

# Slice
print(t_serie[1::2])

### Ejercicio 01

Crear una estructura para almacenar los datos de una persona -> nombre, apellido, nro favorito, si le gusta el ajedrez?

In [12]:

datos_persona = ("Jaime", "Gomez" , 13, True)

print(datos_persona)

('Jaime', 'Gomez', 13, True)

### Ejercicio 02

Representar los participantes del curso de Fundamentos de Python

In [1]:
participantes = (
    ("Jaime", "Gomez" , 13, True),   # index: 0
    ("Martin", "Bendezu" , 1, False),
    ("Jesus", "M" , 100, True),
    ("Yeni", "Paredes" , 40, True)  
)

print(participantes[3])

print(participantes[3][2])

'''
Dame las impresiones para
- La preferencia de ajedrez de Martin
- El apellido de Jesus
- El nro. favorito de Jaime
- El nombre de Paredes
'''
print(participantes[1][3])
print(participantes[2][1])
print(participantes[0][2])
print(participantes[3][0])

print(len(participantes))

('Yeni', 'Paredes', 40, True)
40
False
M
13
Yeni

In [2]:
t_nros = (12,33,45,66,77,88)
t_nros = ("Jaime","Silvia","Rocio","Juan")

t_nros_sorted = sorted(t_nros)

print(t_nros)
print(t_nros_sorted)
print(t_nros_sorted[-1::-1])

('Jaime', 'Silvia', 'Rocio', 'Juan')
['Jaime', 'Juan', 'Rocio', 'Silvia']
['Silvia', 'Rocio', 'Juan', 'Jaime']

## Funciones sum, min, max, count, len , in  en Tuplas

In [18]:
t_nros = (12,33,45,66,77,88,33,12,33,33)

print(sum(t_nros))
print(min(t_nros))
print(max(t_nros))
print(len(t_nros))
print(t_nros.count(33))
print(t_nros.count(77))

situacion = 333 in t_nros
print(situacion)

432
12
88
10
4
1
False

### Ejercicio 3

Dado los numeros : 22, 33, 44, 55, 66, 77, 88, 99, 11, 123
- Calcular el promedio
- Obtener la suma de los nros. localizados en las posiciones pares
- Obtener el menor nro. localizados en las posiciones impares

In [19]:
t_numeros = (22,33,44,55,66,77,88,99,11,123)

print(sum(t_numeros)/len(t_numeros))
print(sum(t_numeros[1::2]))
print(min(t_numeros[::2]))

61.8
387
11

## 2.- Listas

In [22]:
#           0  1  2  3  4  5  6  7  8
l_serie = [10,20,30,40,50,60,70,80,90]
print(type(l_serie))
print(l_serie)

# Acceder a una posicion
print(l_serie[4])
print(l_serie[0])
print(l_serie[-1])

# Asignacion
l_serie[1] = 21 

# Slice
print(l_serie[1::2])

<class 'list'>
[10, 20, 30, 40, 50, 60, 70, 80, 90]
50
10
90
[21, 40, 60, 80]

In [23]:

datos_persona = ["Jaime", "Gomez" , 13, True]

print(datos_persona)

['Jaime', 'Gomez', 13, True]

In [25]:
participantes = [
    ["Jaime", "Gomez" , 13, True],   # index: 0
    ["Martin", "Bendezu" , 1, False],
    ["Jesus", "M" , 100, True],
    ["Yeni", "Paredes" , 40, True]  
]
'''
Dame las impresiones para
- La preferencia de ajedrez de Martin
- El apellido de Jesus
- El nro. favorito de Jaime
- El nombre de Paredes
'''
print(participantes[1][3])
print(participantes[2][1])
print(participantes[0][2])
print(participantes[3][0])

False
M
13
Yeni

In [37]:
nros = [12,33,45,10, 5, 66,77,88]
#nros = ["Jaime","Silvia","Rocio","Juan"]

print(nros)

nros_sorted = sorted(nros)

print(nros)

print(nros_sorted)

print(nros_sorted[-1::-1])

[12, 33, 45, 10, 5, 66, 77, 88]
[12, 33, 45, 10, 5, 66, 77, 88]
[5, 10, 12, 33, 45, 66, 77, 88]
[88, 77, 66, 45, 33, 12, 10, 5]

In [36]:
nros = [12,33,45,10, 5, 66,77,88]
#nros = ["Jaime","Silvia","Rocio","Juan"]

print(nros)

nros.sort()

print(nros)

print(nros[-1::-1])

[12, 33, 45, 10, 5, 66, 77, 88]
[5, 10, 12, 33, 45, 66, 77, 88]
[88, 77, 66, 45, 33, 12, 10, 5]

In [29]:
nros = [12,33,45,66,77,88,33,12,33,33]

print(sum(nros))
print(min(nros))
print(max(nros))
print(len(nros))
print(nros.count(33))
print(nros.count(77))

situacion = 333 in nros
print(situacion)

432
12
88
10
4
1
False

### Funcionalidades especiales de Listas

In [45]:

# Participantes de clases
participantes_clases = ["Jaime","Silvia","Rocio","Juan"]

# llega Alberto a clases
participantes_clases.append("Alberto")
print(participantes_clases)

# llega Rocio a clases
participantes_clases.append("Rocio")
print(participantes_clases)

# llega Patty y Pedro a clases
#participantes_clases.append("Patty")
#participantes_clases.append("Pedro")
participantes_clases.extend(["Patty","Pedro"])
print(participantes_clases)

# Se retira Silvia de clases
participantes_clases.remove("Silvia")
print(participantes_clases)

# Se retira Rocio de clases
del(participantes_clases[1])
print(participantes_clases)

['Jaime', 'Silvia', 'Rocio', 'Juan', 'Alberto']
['Jaime', 'Silvia', 'Rocio', 'Juan', 'Alberto', 'Rocio']
['Jaime', 'Silvia', 'Rocio', 'Juan', 'Alberto', 'Rocio', 'Patty', 'Pedro']
['Jaime', 'Rocio', 'Juan', 'Alberto', 'Rocio', 'Patty', 'Pedro']
['Jaime', 'Juan', 'Alberto', 'Rocio', 'Patty', 'Pedro']

### Ejercicio 4
Se tiene 2 departamentos de una empresa
- En el departamento de Recursos Humanos se tienen a los siguientes empleados : Albert, Julia, Samuel, Ericka y Rocio
- En el departamento de Estudios Generales se tienen a los siguientes empleados : Juan, Raul, Elias, Salas y Efrain
Se ha pedido el cambio de Salas al dpto de Recursos Humanos, realizar el cambio , e indicar cuantos empleados por departamento hay al final del cambio de Salas

In [48]:
RH = ["Albert","Julia","Samuel","Ericka","Rocio"]
EG = ["Juan", "Raul", "Elias", "Salas" ,"Efrain"]

RH.append("Salas")
EG.remove("Salas")

print (RH)
print (EG)

print(f"En RH hay {len(RH)} personas y en EG hay {len(EG)}")

['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio', 'Salas']
['Juan', 'Raul', 'Elias', 'Efrain']
En RH hay 6 personas y en EG hay 4

### Funciones split y join

In [51]:
str_personas = "Albert, Julia, Samuel, Ericka, Rocio"

lista_personas = str_personas.split(", ")

print(lista_personas)

nueva_str_personas = " - ".join(lista_personas)

print(nueva_str_personas)

['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio']
Albert - Julia - Samuel - Ericka - Rocio

In [54]:
print(lista_personas)

esta_jaime = "Julia" in lista_personas

print(esta_jaime)

['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio']
True