## Semana 02

- Descripción: Curso de Fundamentos de Python
- Semana : 02
- Autor: Jaime Gomez
- Fecha: 27/09/2025
- Versión:1

## 1.- Tuplas

In [ ]:
### 1.- Tuplas

#           0  1  2  3  4  5  6  7  8
t_serie = (10,20,30,40,50,60,70,80,90)
print(type(t_serie))
print(t_serie)

# Acceder a una posicion
print(t_serie[4])
print(t_serie[0])
print(t_serie[-1])

# Error de asignacion
# t_serie[0] = 21 

# Slice
print(t_serie[1::2])

### Ejercicio 01

Crear una estructura para almacenar los datos de una persona -> nombre, apellido, nro favorito, si le gusta el ajedrez?

In [12]:

datos_persona = ("Jaime", "Gomez" , 13, True)

print(datos_persona)

('Jaime', 'Gomez', 13, True)

### Ejercicio 02

Representar los participantes del curso de Fundamentos de Python

In [1]:
participantes = (
    ("Jaime", "Gomez" , 13, True),   # index: 0
    ("Martin", "Bendezu" , 1, False),
    ("Jesus", "M" , 100, True),
    ("Yeni", "Paredes" , 40, True)  
)

print(participantes[3])

print(participantes[3][2])

'''
Dame las impresiones para
- La preferencia de ajedrez de Martin
- El apellido de Jesus
- El nro. favorito de Jaime
- El nombre de Paredes
'''
print(participantes[1][3])
print(participantes[2][1])
print(participantes[0][2])
print(participantes[3][0])

print(len(participantes))

('Yeni', 'Paredes', 40, True)
40
False
M
13
Yeni

In [2]:
t_nros = (12,33,45,66,77,88)
t_nros = ("Jaime","Silvia","Rocio","Juan")

t_nros_sorted = sorted(t_nros)

print(t_nros)
print(t_nros_sorted)
print(t_nros_sorted[-1::-1])

('Jaime', 'Silvia', 'Rocio', 'Juan')
['Jaime', 'Juan', 'Rocio', 'Silvia']
['Silvia', 'Rocio', 'Juan', 'Jaime']

## Funciones sum, min, max, count, len , in  en Tuplas

In [18]:
t_nros = (12,33,45,66,77,88,33,12,33,33)

print(sum(t_nros))
print(min(t_nros))
print(max(t_nros))
print(len(t_nros))
print(t_nros.count(33))
print(t_nros.count(77))

situacion = 333 in t_nros
print(situacion)

432
12
88
10
4
1
False

### Ejercicio 3

Dado los numeros : 22, 33, 44, 55, 66, 77, 88, 99, 11, 123
- Calcular el promedio
- Obtener la suma de los nros. localizados en las posiciones pares
- Obtener el menor nro. localizados en las posiciones impares

In [19]:
t_numeros = (22,33,44,55,66,77,88,99,11,123)

print(sum(t_numeros)/len(t_numeros))
print(sum(t_numeros[1::2]))
print(min(t_numeros[::2]))

61.8
387
11

## 2.- Listas