## Semana 02

- Descripción: Curso de Fundamentos de Python
- Semana : 02
- Autor: Jaime Gomez
- Fecha: 27/09/2025
- Versión:1

## 1.- Tuplas

In [94]:
#           0  1  2  3  4  5  6  7  8
t_serie = (10,20,30,40,50,60,70,80,90)
print(type(t_serie))
print(t_serie)

# Acceder a una posicion
print(t_serie[4])
print(t_serie[0])
print(t_serie[-1])

# Error de asignacion
# t_serie[0] = 21 

# Slice
print(t_serie[1::2])

<class 'tuple'>
(10, 20, 30, 40, 50, 60, 70, 80, 90)
50
10
90
(20, 40, 60, 80)

### Ejercicio 01

Crear una estructura para almacenar los datos de una persona -> nombre, apellido, nro favorito, si le gusta el ajedrez?

In [95]:

datos_persona = ("Jaime", "Gomez" , 13, True)

print(datos_persona)

('Jaime', 'Gomez', 13, True)

### Ejercicio 02

Representar los participantes del curso de Fundamentos de Python

In [96]:
participantes = (
    ("Jaime", "Gomez" , 13, True),   # index: 0
    ("Martin", "Bendezu" , 1, False),
    ("Jesus", "M" , 100, True),
    ("Yeni", "Paredes" , 40, True)  
)

print(participantes[3])

print(participantes[3][2])

'''
Dame las impresiones para
- La preferencia de ajedrez de Martin
- El apellido de Jesus
- El nro. favorito de Jaime
- El nombre de Paredes
'''
print(participantes[1][3])
print(participantes[2][1])
print(participantes[0][2])
print(participantes[3][0])

print(len(participantes))

('Yeni', 'Paredes', 40, True)
40
False
M
13
Yeni
4

In [97]:
t_nros = (12,33,45,66,77,88)
t_nros = ("Jaime","Silvia","Rocio","Juan")

t_nros_sorted = sorted(t_nros)

print(t_nros)
print(t_nros_sorted)
print(t_nros_sorted[-1::-1])

('Jaime', 'Silvia', 'Rocio', 'Juan')
['Jaime', 'Juan', 'Rocio', 'Silvia']
['Silvia', 'Rocio', 'Juan', 'Jaime']

## Funciones sum, min, max, count, len , in  en Tuplas

In [98]:
t_nros = (12,33,45,66,77,88,33,12,33,33)

print(sum(t_nros))
print(min(t_nros))
print(max(t_nros))
print(len(t_nros))
print(t_nros.count(33))
print(t_nros.count(77))

situacion = 333 in t_nros
print(situacion)

432
12
88
10
4
1
False

### Ejercicio 3

Dado los numeros : 22, 33, 44, 55, 66, 77, 88, 99, 11, 123
- Calcular el promedio
- Obtener la suma de los nros. localizados en las posiciones pares
- Obtener el menor nro. localizados en las posiciones impares

In [99]:
t_numeros = (22,33,44,55,66,77,88,99,11,123)

print(sum(t_numeros)/len(t_numeros))
print(sum(t_numeros[1::2]))
print(min(t_numeros[::2]))

61.8
387
11

## 2.- Listas

In [100]:
#           0  1  2  3  4  5  6  7  8
l_serie = [10,20,30,40,50,60,70,80,90]
print(type(l_serie))
print(l_serie)

# Acceder a una posicion
print(l_serie[4])
print(l_serie[0])
print(l_serie[-1])

# Asignacion
l_serie[1] = 21 

# Slice
print(l_serie[1::2])

<class 'list'>
[10, 20, 30, 40, 50, 60, 70, 80, 90]
50
10
90
[21, 40, 60, 80]

In [101]:

datos_persona = ["Jaime", "Gomez" , 13, True]

print(datos_persona)

['Jaime', 'Gomez', 13, True]

In [102]:
participantes = [
    ["Jaime", "Gomez" , 13, True],   # index: 0
    ["Martin", "Bendezu" , 1, False],
    ["Jesus", "M" , 100, True],
    ["Yeni", "Paredes" , 40, True]  
]
'''
Dame las impresiones para
- La preferencia de ajedrez de Martin
- El apellido de Jesus
- El nro. favorito de Jaime
- El nombre de Paredes
'''
print(participantes[1][3])
print(participantes[2][1])
print(participantes[0][2])
print(participantes[3][0])

False
M
13
Yeni

In [103]:
nros = [12,33,45,10, 5, 66,77,88]
#nros = ["Jaime","Silvia","Rocio","Juan"]

print(nros)

nros_sorted = sorted(nros)

print(nros)

print(nros_sorted)

print(nros_sorted[-1::-1])

[12, 33, 45, 10, 5, 66, 77, 88]
[12, 33, 45, 10, 5, 66, 77, 88]
[5, 10, 12, 33, 45, 66, 77, 88]
[88, 77, 66, 45, 33, 12, 10, 5]

In [104]:
nros = [12,33,45,10, 5, 66,77,88]
#nros = ["Jaime","Silvia","Rocio","Juan"]

print(nros)

nros.sort()

print(nros)

print(nros[-1::-1])

[12, 33, 45, 10, 5, 66, 77, 88]
[5, 10, 12, 33, 45, 66, 77, 88]
[88, 77, 66, 45, 33, 12, 10, 5]

In [105]:
nros = [12,33,45,66,77,88,33,12,33,33]

print(sum(nros))
print(min(nros))
print(max(nros))
print(len(nros))
print(nros.count(33))
print(nros.count(77))

situacion = 333 in nros
print(situacion)

432
12
88
10
4
1
False

### Funcionalidades especiales de Listas

In [106]:

# Participantes de clases
participantes_clases = ["Jaime","Silvia","Rocio","Juan"]

# llega Alberto a clases
participantes_clases.append("Alberto")
print(participantes_clases)

# llega Rocio a clases
participantes_clases.append("Rocio")
print(participantes_clases)

# llega Patty y Pedro a clases
#participantes_clases.append("Patty")
#participantes_clases.append("Pedro")
participantes_clases.extend(["Patty","Pedro"])
print(participantes_clases)

# Se retira Silvia de clases
participantes_clases.remove("Silvia")
print(participantes_clases)

# Se retira Rocio de clases
del(participantes_clases[1])
print(participantes_clases)

['Jaime', 'Silvia', 'Rocio', 'Juan', 'Alberto']
['Jaime', 'Silvia', 'Rocio', 'Juan', 'Alberto', 'Rocio']
['Jaime', 'Silvia', 'Rocio', 'Juan', 'Alberto', 'Rocio', 'Patty', 'Pedro']
['Jaime', 'Rocio', 'Juan', 'Alberto', 'Rocio', 'Patty', 'Pedro']
['Jaime', 'Juan', 'Alberto', 'Rocio', 'Patty', 'Pedro']

### Ejercicio 4
Se tiene 2 departamentos de una empresa
- En el departamento de Recursos Humanos se tienen a los siguientes empleados : Albert, Julia, Samuel, Ericka y Rocio
- En el departamento de Estudios Generales se tienen a los siguientes empleados : Juan, Raul, Elias, Salas y Efrain
Se ha pedido el cambio de Salas al dpto de Recursos Humanos, realizar el cambio , e indicar cuantos empleados por departamento hay al final del cambio de Salas

In [107]:
RH = ["Albert","Julia","Samuel","Ericka","Rocio"]
EG = ["Juan", "Raul", "Elias", "Salas" ,"Efrain"]

RH.append("Salas")
EG.remove("Salas")

print (RH)
print (EG)

print(f"En RH hay {len(RH)} personas y en EG hay {len(EG)}")

['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio', 'Salas']
['Juan', 'Raul', 'Elias', 'Efrain']
En RH hay 6 personas y en EG hay 4

### Funciones split y join

In [108]:
str_personas = "Albert, Julia, Samuel, Ericka, Rocio"

lista_personas = str_personas.split(", ")

print(lista_personas)

nueva_str_personas = " - ".join(lista_personas)

print(nueva_str_personas)

['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio']
Albert - Julia - Samuel - Ericka - Rocio

In [109]:
print(lista_personas)

esta_jaime = "Julia" in lista_personas

print(esta_jaime)

['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio']
True

## 3.- Set

In [110]:
rrhh = ["Albert","Julia","Samuel","Ericka","Rocio"]

rrhh.append("Jaime")
print(rrhh)

rrhh.append("Julia")
print(rrhh)

rrhh.append("Rocio")
print(rrhh)

['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio', 'Jaime']
['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio', 'Jaime', 'Julia']
['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio', 'Jaime', 'Julia', 'Rocio']

In [111]:
rrhh = {"Albert","Julia","Samuel","Ericka","Rocio"}

rrhh.add("Jaime")
print(rrhh)

rrhh.add("Julia")
print(rrhh)

rrhh.add("Rocio")
print(rrhh)

{'Julia', 'Albert', 'Ericka', 'Jaime', 'Samuel', 'Rocio'}
{'Julia', 'Albert', 'Ericka', 'Jaime', 'Samuel', 'Rocio'}
{'Julia', 'Albert', 'Ericka', 'Jaime', 'Samuel', 'Rocio'}

### Operaciones entre set

In [112]:
deportes_A = {"Futbol","Tenis","Baseball","Squash"}
deportes_B = {"Futbol","Tenis","Voley","Judo"}

# Todos los deportes de ambos grupos
deportes_unidos = deportes_A.union(deportes_B) # deportes_A | deportes_B 
print(deportes_unidos)

# Deporte comunes entre el grupo A y B
deportes_comunes = deportes_A.intersection(deportes_B)  # deportes_A & deportes_B 
print(deportes_comunes)

# Deporte en el grupo A que no estan en el grupo B
deportes_A_unicos = deportes_A.difference(deportes_B) # deportes_A ^ deportes_B 
print(deportes_comunes)
print(deportes_A_unicos)

# Deporte en el grupo B que no estan en el grupo A
deportes_B_unicos = deportes_B.difference(deportes_A) # deportes_B ^ deportes_A 
print(deportes_B_unicos)

{'Tenis', 'Squash', 'Voley', 'Baseball', 'Futbol', 'Judo'}
{'Futbol', 'Tenis'}
{'Futbol', 'Tenis'}
{'Squash', 'Baseball'}
{'Voley', 'Judo'}

### Conversiones entre set, tupla y listas

In [113]:
nombres = ['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio', 'Jaime', 'Julia', 'Rocio']
print(nombres)

# Convierte a tuplas
nombres = tuple(nombres)
print(nombres)

# Convierte a set
nombres = set(nombres)
print(nombres)

# Convierte a list
nombres = list(nombres)
print(nombres)

['Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio', 'Jaime', 'Julia', 'Rocio']
('Albert', 'Julia', 'Samuel', 'Ericka', 'Rocio', 'Jaime', 'Julia', 'Rocio')
{'Julia', 'Ericka', 'Rocio', 'Jaime', 'Albert', 'Samuel'}
['Julia', 'Ericka', 'Rocio', 'Jaime', 'Albert', 'Samuel']

### Ejercicio 5

Dado los siguientes nombres de una aula : Ana, Juan, María, Pedro, Luis, Ana, Sofía, Carlos, Juan, Elena, Laura, Pedro, Ana, David, María, José, Sofía, Luis, Ana, Elena.
- Indicar cuantos alumnos hay en la clase
- Cuales son los nombre no repetidos y cuantos son

In [114]:
nombres_aula = ["Ana", "Juan", "María", "Pedro", "Luis", "Ana", "Sofía","Carlos", "Juan", "Elena", "Laura", "Pedro", "Ana", "David","María", "José", "Sofía", "Luis", "Ana", "Elena"]
total_alumnos = len(nombres_aula)

nombres_unicos_set = set(nombres_aula)
nombres_texto = ", ".join(nombres_unicos_set)

print(f"Hay {total_alumnos} estudiantes en el aula, los nombres no repetidos son {nombres_texto}, que son {len(nombres_unicos_set)} nombres unicos")

Hay 20 estudiantes en el aula, los nombres no repetidos son Ana, Juan, Pedro, David, Sofía, José, Laura, Luis, Carlos, María, Elena, que son 11 nombres unicos

In [115]:
x = "Ana, Juan, María, Pedro, Luis, Ana, Sofía, Carlos, Juan, ELena, Laura, Pedro, Ana, David, María, José, Sofía, Luis, Ana, Elena"
lista_Aula = x.split(", ")
print(lista_Aula)

print("Cantidad de alumnos en la clase:", len(lista_Aula))

lista_Aula = set(lista_Aula)
print(lista_Aula)
print(len(lista_Aula))

['Ana', 'Juan', 'María', 'Pedro', 'Luis', 'Ana', 'Sofía', 'Carlos', 'Juan', 'ELena', 'Laura', 'Pedro', 'Ana', 'David', 'María', 'José', 'Sofía', 'Luis', 'Ana', 'Elena']
Cantidad de alumnos en la clase: 20
{'Ana', 'Juan', 'Pedro', 'ELena', 'David', 'Sofía', 'José', 'Laura', 'Luis', 'Carlos', 'María', 'Elena'}
12

## 4.- Diccionarios

In [128]:
RAE = {
"cobre":"Elemento químico metálico, de núm. atóm. 29, de color rojo pardo, brillante",
"oro":"Elemento químico metálico, de núm. atóm. 79, de color amarillo brillante, el más dúctil y maleable de los metales",
"plomo":"Elemento químico metálico, de núm. atóm. 82, de color gris azulado, dúctil, pesado, maleable, resistente a la corrosión y muy blando"
}

print(RAE["cobre"])

#print(RAE["aluminio"])
print(RAE.get("aluminio","No encontrado")) # Usado en caso no existe la definicion

# Agrego un registro al diccionario
RAE["aluminio"] = "Elemento que no existe en la tierra" #"Elemento químico metálico, de núm. atóm. 13, de color similar al de la plata, ligero, resistente y dúctil"

print(RAE.get("aluminio","No encontrado")) # Usado en caso no existe la definicion

# Actualizo un registro al diccionario
RAE["aluminio"] = "Elemento químico metálico, de núm. atóm. 13, de color similar al de la plata, ligero, resistente y dúctil"

print(RAE.get("aluminio","No encontrado")) # Usado en caso no existe la definicion

Elemento químico metálico, de núm. atóm. 29, de color rojo pardo, brillante
No encontrado
Elemento que no existe en la tierra
Elemento químico metálico, de núm. atóm. 13, de color similar al de la plata, ligero, resistente y dúctil

### Ejercicio 6

- 2022 Argentina. Qatar 2022. *(P)Argentina 3-3 Francia. ...
- 2018 Francia. Rusia 2018. Francia 4-2 Croacia. ...
- 2014 Alemania. Brasil 2014. Alemania 1-0 Argentina. ...
- 2010 España. Sudáfica 2010. Holanda 0-1 España. ...
- 2006 Italia. Alemania 2006. ...
- 2002 Brasil. Corea y Japón 2002. ...
- 1998 Francia. Francia 1998. ...
- 1994 Brasil. Estados Unidos 1994.

<a href="https://es.wikipedia.org/wiki/Anexo:Finales_de_la_Copa_Mundial_de_F%C3%BAtbol">Copa Mundial</a>

Crear un diccionario de los campeones de futbol, la llave debe ser el anho de la competencia y el valor debe ser el pais que campeono, indicar los campeones de 2010 y 1994

In [131]:
campeones_mundial = {
  2022: "Argentina",
  2018: "Francia",
  2014: "Alemania",
  2010: "España",
  2006: "Italia",
  2002: "Brasil",
  1998: "Francia",
  1994: "Brasil"
}

campeon_2010 = campeones_mundial[2010]
campeon_1994 = campeones_mundial[1994]

print(f"El campeón del año 2010 fue: {campeon_2010}")
print(f"El campeón del año 1994 fue: {campeon_1994}")

anho_consulta = int(input("Ingresar el anho:"))

print(f"El campeón del año {anho_consulta} fue: {campeones_mundial[anho_consulta]}")

El campeón del año 2010 fue: España
El campeón del año 1994 fue: Brasil

Ingresar el anho: 2014

El campeón del año 2014 fue: Alemania

### Recorridos en diccionarios

In [140]:
campeones_mundial = {
#  key : value
  2022: "Argentina",
  2018: "Francia",
  2014: "Alemania",
  2010: "España",
  2006: "Italia",
  2002: "Brasil",
  1998: "Francia",
  1994: "Brasil"
}
for key,value in campeones_mundial.items():
    print(f" {key} -> {value}")

for value in campeones_mundial.values():
    print(value)

for key in campeones_mundial.keys():
    print(key)

for key in campeones_mundial:
    print(key)

 2022 -> Argentina
 2018 -> Francia
 2014 -> Alemania
 2010 -> España
 2006 -> Italia
 2002 -> Brasil
 1998 -> Francia
 1994 -> Brasil
Argentina
Francia
Alemania
España
Italia
Brasil
Francia
Brasil
2022
2018
2014
2010
2006
2002
1998
1994
2022
2018
2014
2010
2006
2002
1998
1994

In [141]:

campeones_mundial = {
#  key : value
  2022: "Argentina",
  2018: "Francia",
  2014: "Alemania",
  2010: "España",
  2006: "Italia",
  2002: "Brasil",
  1998: "Francia",
  1994: "Brasil"
}

existe_campeon_1990 = 1990 in campeones_mundial

print(existe_campeon_1990)

False

## 5.- For

In [116]:
nombres = ('Julia', 'Ericka', 'Rocio', 'Jaime', 'Albert', 'Samuel')

for nombre in nombres:
    print(nombre)

Julia
Ericka
Rocio
Jaime
Albert
Samuel

In [117]:
nombres = ['Julia', 'Ericka', 'Rocio', 'Jaime', 'Albert', 'Samuel']

for nombre in nombres:
    print(nombre)

Julia
Ericka
Rocio
Jaime
Albert
Samuel

In [118]:
nombres = {'Julia', 'Ericka', 'Rocio', 'Jaime', 'Albert', 'Samuel'}

for nombre in nombres:
    print(nombre)

Rocio
Julia
Albert
Ericka
Samuel
Jaime