# Ejercicios Datos Perdidos

In [1]:
import numpy as np
import pandas as pd

In [4]:
# Leer datasets
df_vuelos = pd.read_csv("dataset/flights.csv")
df_vuelos.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

### 1.- Mostrar solo  las cabeceras

In [5]:
df_vuelos.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

###  2. Cambiar las cabeceras
- year : anho
- month : mes
- day : dia
- dep_time : hora_partida
- dep_delay : retraso_partida
- arr_time : hora_arribo
- arr_delay ; retraso_arribo
- carrier : empresa
- talinum : id_avion
- flight : vuelo
- origin : origen
- dest : destino
- air_time : horas_vuelo
- distance : distancia
- hour : hora
- minute : minuto

In [6]:
df_vuelos_2 = df_vuelos.rename(columns={
                                'year' : 'anho',
                                'month' : 'mes',
                                'day' : 'dia',
                                'dep_time' : 'hora_partida',
                                'dep_delay' : 'retraso_partida',
                                'arr_time' : 'hora_arribo',
                                'arr_delay' : 'retraso_arribo',
                                'carrier' : 'empresa',
                                'talinum' : 'id_avion',
                                'flight' : 'vuelo',
                                'origin' : 'origen',
                                'dest' : 'destino',
                                'air_time' : 'horas_vuelo',
                                'distance' : 'distancia',
                                'hour' : 'hora',
                                'minute' : 'minuto',                              
                                })
df_vuelos_2.head()

,anho,mes,dia,hora_partida,retraso_partida,hora_arribo,retraso_arribo,empresa,tailnum,vuelo,origen,destino,horas_vuelo,distancia,hora,minuto
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

### 3. Seleccionar las filas que tiene al menos un dato perdido

### 4. Filtrar todos las filas donde el retraso de los vuelos de partida y llegada es un dato perdido

### 5. Mostrar todos los datos perdidos, Â¿Verifique si justifica eliminarlos?

### 6. Cuantos datos perdidos hay en los retrasos de partida y llegada

### 7. Encontrar los datos no perdidos de todas las columnas

### 8. Rellenar los datos perdidos , siempre y cuando justifique.