# Análisis Descriptivo

## Descripción de las variables del dataset :  University Research Survey

- id: Es una variable de tipo numérico que proporciona la identificación de un individuo. Su valor es único para cada individuo en el dataset.
- Gender:Es una variable nominal que proporciona el género de cada individuo. Esta variable tiene dos valores posibles, "Masculino" o "Femenino".
- Python_user: Es un tipo nominal de variable y tiene la información si el individuo es un usuario frecuente del lenguaje Python en su tarea de análisis de datos. Esta variable tiene dos valores posibles,"si" o "no".
- R_user: “R_user” es un tipo nominal de variable y tiene la información si el individuo es un usuario frecuente de software R en sus datos tarea de análisis. Esta variable tiene dos valores posibles, "sí" o "no".
- Age: Es un tipo numérico de variable que proporciona la edad actual de cada individuo.
- Publications: Es un tipo numérico de variable y su valor indica el número de publicaciones del analista de datos individual realizado hasta la fecha de la recopilación de datos.
- Tasks: Es un tipo nominal de variable y sus valores indican el cargo o funciones que desempeña el investigador en su institución. Los tres valores posibles para esta variable son:
    - Estudiante de doctorado,
    - Investigación Postdoctoral,
    - Supervisor de Doctorado.
- Q1 a Q10: las variables "Q1" a "Q10" son los resultados de la pregunta de una encuesta cuestionario presentado a nuestros investigadores, sometidos a este estudio. La encuesta presentada fue:
- P1: Creo que las herramientas de investigación (software, hardware, libros y otros) que utilizo actualmente son suficientes para lograr mis objetivos de investigación.
- P2: Entiendo que mi área de investigación brinda la oportunidad de lograr una excelente productividad (artículos publicados, capítulos de libros, etc.).
- P3: Mi productividad científica aumentó en el último año.
- P4: Siento que puedo mejorar algunos de mis métodos de investigación.
- P5: Mis métodos de investigación cambiaron mucho con el tiempo.
- P6: Me adapté rápidamente a las nuevas herramientas de investigación a lo largo del tiempo cuando lo necesitaba.
- P7: Estoy dispuesto a aprender nuevas herramientas de investigación que puedan aparecer en el futuro.
- P8: Estoy seguro de que mis métodos de investigación están directamente relacionados con mi productividad científica.
- P9: Cambiaría mis herramientas de investigación si tuviera la oportunidad de hacerlo.
- P10: Siento que mis herramientas de investigación mejoraron en los últimos años.
***
Luego se pidió a los investigadores que clasificaran cada una de las declaraciones del cuestionario con una escala Likert, que se define como:
    - 1:"Totalmente en desacuerdo",
    - 2:"En desacuerdo",
    - 3:"Neutral",
    - 4:"De acuerdo",
    - 5:“Totalmente de acuerdo”.
- Año: Es un tipo numérico de variable y sus valores indican el año el investigador publicó su mayor cantidad de publicaciones, es decir, el año con mayor productividad editorial.

In [1]:
# Importando librerias
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("dataset/survey_research_university.csv",sep = ";")
df.columns

Index(['id', 'Gender', 'Python_user', 'R_user', 'Age', 'Publications', 'Tasks',
       'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Year'],
      dtype='object')

In [3]:
df.head()

,id,Gender,Python_user,R_user,Age,Publications,Tasks,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
0,1,female,yes,yes,38.0,33,Postdoctoral_research,5,5,5,3,3,2,5,4,5,4,2004
1,2,male,no,yes,36.0,31,Postdoctoral_research,3,4,4,4,4,3,5,4,4,2,2002
2,3,male,yes,no,30.0,19,PhD_Student,5,5,5,4,5,4,5,4,5,5,2016
3,4,female,yes,no,42.0,29,Phd_Supervisor,4,4,4,3,3,4,4,2,3,4,2007
4,5,female,yes,no,37.0,31,PhD_Student,4,3,5,2,4,4,5,3,5,4,2001

In [4]:
# ¿ Cuánto registros y variables hay?

# La cantidad de registros y variables (columnas)
df.shape

(200, 18)

In [5]:
# La cantidad de registros o filas
len(df)

200

Hay 200 registros y 18 variables

In [6]:
df.dtypes

id                int64
Gender           object
Python_user      object
R_user           object
Age             float64
Publications      int64
Tasks            object
Q1                int64
Q2                int64
Q3                int64
Q4                int64
Q5                int64
Q6                int64
Q7                int64
Q8                int64
Q9                int64
Q10               int64
Year              int64
dtype: object

#### ¿Cuántas variables númericas y catégoricas hay?

In [7]:
df.describe()  # información de las variables númericas

,id,Age,Publications,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
count,200.000000,198.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.00000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000
mean,100.500000,37.055556,29.650000,3.545000,3.920000,3.86500,3.210000,3.58500,3.380000,4.010000,3.10000,3.825000,3.905000,2008.325000
std,57.879185,5.637253,7.743209,1.210496,0.834916,1.03544,0.959428,1.18736,1.082339,0.951011,1.13421,1.188037,1.127979,4.547833
min,1.000000,24.000000,11.000000,1.000000,2.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.00000,1.000000,1.000000,2000.000000
25%,50.750000,33.000000,25.000000,3.000000,3.000000,3.00000,3.000000,3.00000,3.000000,3.750000,2.00000,3.000000,3.000000,2004.750000
50%,100.500000,37.000000,31.000000,4.000000,4.000000,4.00000,3.000000,4.00000,4.000000,4.000000,3.00000,4.000000,4.000000,2008.500000
75%,150.250000,41.000000,35.000000,4.000000,4.250000,5.00000,4.000000,5.00000,4.000000,5.000000,4.00000,5.000000,5.000000,2012.000000
max,200.000000,52.000000,70.000000,5.000000,5.000000,5.00000,5.000000,5.00000,5.000000,5.000000,5.00000,5.000000,5.000000,2016.000000

In [8]:
df.describe().shape  # Se muestran 14 variables ( númericas)

(8, 14)

Se puede apreciar que hay 14 variables númericos y 18-14 = 4 variables categoricas

# 1.-  Valores Perdidos

In [9]:
df.describe().loc[["count","mean"]]

,id,Age,Publications,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
count,200.0,198.000000,200.00,200.000,200.00,200.000,200.00,200.000,200.00,200.00,200.0,200.000,200.000,200.000
mean,100.5,37.055556,29.65,3.545,3.92,3.865,3.21,3.585,3.38,4.01,3.1,3.825,3.905,2008.325

In [10]:
# Muestra estadistica de las variables categoricas
df.describe(include=[object])

       Gender Python_user R_user        Tasks
count     200         199    200          200
unique      2           2      2            3
top      male         yes    yes  PhD_Student
freq      113         107    109           78

In [11]:
# Solo muestra el "count" y "top" de las variables categoricas
df.describe(include=[object]).loc[["count","top"]]

      Gender Python_user R_user        Tasks
count    200         199    200          200
top     male         yes    yes  PhD_Student

In [12]:
# los tipo de datos por cada variable categorica
df.describe(include=[object]).loc[["unique"]]

       Gender Python_user R_user Tasks
unique      2           2      2     3

In [13]:
def show_missing_data():
    missing_data = df.isnull()
    existen_na = False
    #missing_data.head(5)
    NRO_REG = len(df)
    for column in missing_data.columns.values.tolist():
        s = missing_data[column].value_counts()
        if s.iloc[0] != NRO_REG :
           existen_na = True
           print("--> La variable", column, "tienen", s.iloc[0] ," datos completos de", NRO_REG ,"datos")
           percentaje_missing_data = ((NRO_REG - s.iloc[0])/NRO_REG)*100
           print(round(percentaje_missing_data,4),"%")
    if not existen_na: print("No hay datos perdidos")

In [14]:
show_missing_data()

--> La variable Python_user tienen 199  datos completos de 200 datos
0.5 %
--> La variable Age tienen 198  datos completos de 200 datos
1.0 %

In [28]:
# Otra alternativa para ver los datos perdidos
missing_data = df.isnull()
p = (missing_data.sum()/len(missing_data)*100).sort_values(ascending=False)
p

id              0.0
Gender          0.0
Q10             0.0
Q9              0.0
Q8              0.0
Q7              0.0
Q6              0.0
Q5              0.0
Q4              0.0
Q3              0.0
Q2              0.0
Q1              0.0
Tasks           0.0
Publications    0.0
Age             0.0
R_user          0.0
Python_user     0.0
Year            0.0
dtype: float64

### Hacer el tratamiento de datos perdidos

In [25]:
# Reemplazando un dato perdido de una variable categórica
mode_python_user = df['Python_user'].mode()
print("mode_python_user=",mode_python_user[0])
df["Python_user"] = df["Python_user"].replace(np.nan, mode_python_user[0])

mode_python_user= yes

In [26]:
# Reemplazando un dato perdido de una variable númerica
mean_age = df['Age'].mean()
print("mean_age=",mean_age)
#df["Age"].replace(np.nan, mean_age, inplace=True)
df["Age"] = df["Age"].replace(np.nan, mean_age)

mean_age= 37.05555555555556

In [27]:
# Verifica si hay datos perdidos ¿ Cómo ?
show_missing_data()

No hay datos perdidos

In [29]:
# Otra alternativa para ver los datos perdidos
missing_data = df.isnull()
p = (missing_data.sum()/len(missing_data)*100).sort_values(ascending=False)
p

id              0.0
Gender          0.0
Q10             0.0
Q9              0.0
Q8              0.0
Q7              0.0
Q6              0.0
Q5              0.0
Q4              0.0
Q3              0.0
Q2              0.0
Q1              0.0
Tasks           0.0
Publications    0.0
Age             0.0
R_user          0.0
Python_user     0.0
Year            0.0
dtype: float64

## 2.- Pandas , tratamiento de datos

### 2.1.- Ordenamiento, seleccionando filas y columnas

 https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

In [30]:
## Ejercicio 1 : Ordenar por Genero y Edad en forma descendente 
df.sort_values(["Gender","Age"], ascending=[False, False]).head()

,id,Gender,Python_user,R_user,Age,Publications,Tasks,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
13,14,male,yes,no,52.0,70,Phd_Supervisor,4,4,4,4,5,4,4,5,5,4,2001
163,164,male,no,yes,49.0,42,Phd_Supervisor,4,3,4,3,4,3,4,3,4,4,2001
35,36,male,yes,yes,48.0,38,Phd_Supervisor,2,4,4,4,4,4,5,4,4,5,2002
61,62,male,no,yes,48.0,39,Phd_Supervisor,3,4,2,3,4,2,3,4,3,3,2004
144,145,male,yes,no,48.0,40,Phd_Supervisor,3,4,2,3,4,2,2,2,3,4,2005

In [31]:
## Ejercicio 1.1 
## Mostra solo los siguiente datos: id , Gender y Age , con 
## el genero y la edad en forma ascendente y descendente respectivamente 
df[['id', 'Gender','Age']].sort_values(["Gender","Age"], ascending=[True, False]).head()

      id  Gender   Age
199  200  female  52.0
42    43  female  49.0
126  127  female  48.0
148  149  female  48.0
179  180  female  47.0

In [34]:
## Ejercicio 2 : Obtener los valores de la variable "Id" en una serie
type(df['id'])

pandas.core.series.Series

In [35]:
## Ejercicio 3 : Obtener las variables Id, Python_user y R_user en un dataframe
df[['id', 'Python_user','R_user']].head()

   id Python_user R_user
0   1         yes    yes
1   2          no    yes
2   3         yes     no
3   4         yes     no
4   5         yes     no

In [36]:
## Ejercicio 4 : Seleccionar todos las investigaciones mayores de 35 años

#df[df['Age']>35].head()

df[['Age']][df['Age']>35].head()

#df[df['Age']>35].sort_values(["Age"], ascending=[False]).head()

    Age
0  38.0
1  36.0
3  42.0
4  37.0
5  43.0

In [37]:
## Ejercicio 4.1 : Seleccionar tod@s los investigador@s mayores de 40
##                 años y que sean mujeres

# AND ==> &

df[(df['Age']>40) & (df['Gender']=='female')].head()

#df[df['Gender']=='female'][df['Age']>40].shape #head()

,id,Gender,Python_user,R_user,Age,Publications,Tasks,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
3,4,female,yes,no,42.0,29,Phd_Supervisor,4,4,4,3,3,4,4,2,3,4,2007
5,6,female,no,no,43.0,36,Phd_Supervisor,2,4,5,5,5,4,3,4,4,5,2008
30,31,female,yes,yes,45.0,34,Phd_Supervisor,4,5,5,4,5,5,4,3,5,5,2003
31,32,female,no,no,43.0,34,Phd_Supervisor,3,3,3,3,5,2,2,3,2,3,2003
42,43,female,yes,no,49.0,44,Phd_Supervisor,1,3,2,3,3,3,4,3,4,3,2001

In [ ]:

df[(df['Age']>35) & (df['Gender']=='female')].head()

In [ ]:
## Ejercicio 5 : Seleccionar las filas del 20 al 25

In [38]:
## Ejercicio 6 : Seleccionar el Id, Age, Publications de las personas entre 30 y 40 años; 
##               y ordenarlo en forma descendente de acuerdo al núnero de publicaciones

dfx = df[((df['Age']>30) & (df['Age']<40))].sort_values(["Publications"], ascending=[False])

dfx[["id", "Age", "Publications"]].head()

      id   Age  Publications
105  106  39.0            44
57    58  34.0            41
21    22  39.0            40
36    37  38.0            39
158  159  32.0            39

In [39]:
## Ejercicio 7 : Mostar todos las Tareas realizadas por mujeres y que no 
##               son Tareas del tipo "PhD_Student", en conjunto con la cantidad 
##               de Publicaciones , ordenado por la Edad en forma ascendente

In [ ]:
# Otra forma de resolver el problema
df[(df.Gender == "female") & (df.Tasks != "PhD_Student")]\
[["id","Gender","Age","Tasks","Publications"]]\
.sort_values("Age")\
.head()

### 2.2.- Agregación

In [40]:
# Mostrar la suma de todas las edades, el valor minimo y maximo
#df['Age'].max()

df['Age'].aggregate(['sum', 'min', 'max']) 

#df['Age'].agg(['sum', 'min', 'max'])

sum    7411.111111
min      24.000000
max      52.000000
Name: Age, dtype: float64

In [41]:
# Mostrar para la edad el valor mínimo y máximo; 
# para las publicaciones, el número total y el valor mínimo
df.aggregate({"Age":['min', 'max'],\
              "Publications":['sum', 'min']})

      Age  Publications
min  24.0          11.0
max  52.0           NaN
sum   NaN        5930.0

### 2.3.- Agrupaciones
https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [44]:
# Mostrar la edad promedio de mujeres y hombre que realizan investigaciones

df.groupby("Gender").Age.mean()

Gender
female    37.183908
male      36.956735
Name: Age, dtype: float64

In [ ]:
# Mostrar la edad promedio de mujeres y hombre que realizan investigaciones
# y que son mayores de 35 años


df[(df["Publications"]>0)&(df["Age"]>35)].groupby("Gender").Age.mean()

# df[df['Age']>35].groupby("Gender").Age.mean()

In [ ]:
# Mostrar el máximo , mínimo  y promedio del número de publicaciones  que han realizado 
# los investigadores de 30 a 40 años agrupado por Tareas

In [ ]:
#df[(df.Age > 30) & (df.Age <40)].groupby("Tasks").agg({'Publications': ['mean', 'min', 'max']})

df[(df.Age > 30) & (df.Age <40)].groupby("Tasks") \
        .aggregate({'Publications': ['mean', 'min', 'max']})

In [ ]:
# Ejercicio Adicional 
# Mostrar el máximo , mínimo  y promedio del número de publicaciones  
# que han realizado los investigadores de 40 a 50 años agrupado  
# por tareas, pero no considerar las tareas de "Phd_Supervisor"

df[(df.Age > 40) & (df.Age <50) & (df.Tasks != "Phd_Supervisor")]\
.groupby("Tasks").agg({'Publications': ['mean', 'min', 'max']})

# 3.-  Análisis de las Variables Categóricas

## Todas las variebles categóricas

In [ ]:
df.describe(include=[object])

## Análisis de la variable categórica "Gender"

In [ ]:
### Gender descriptive analysis
# Count of each factor level of the Gender variable
df['Gender'].value_counts()

In [ ]:
# Filtering Gender data
gender_df = df['Gender']

# Group by Gender value
#gender_df = gender_df.value_counts(sort=True)
gender_df = pd.DataFrame(gender_df.value_counts(sort=True))
gender_df

In [ ]:
# Create new column with cumulative sum
gender_df['cum_sum'] = gender_df['count'].cumsum()

# Create new column with relative frequency
gender_df['cum_perc'] = 100*gender_df['cum_sum']/gender_df['count'].sum()

# Show values
gender_df

## Análisis de la variable categórica "Python_user"

In [ ]:
### Python_user descriptive analysis

# Filtering Python_user data
python_df = df['Python_user']

# Group by Python_user
python_df = pd.DataFrame(python_df.value_counts(sort=True))

# Create new column with cumulative sum
python_df['cum_sum'] = python_df['count'].cumsum()

# Create new column with relative frequency
python_df['cum_perc'] = 100*python_df['cum_sum']/python_df['count'].sum()

# Show values
python_df

## Análisis de la variable categórica "Python_user" con NaN

In [ ]:
### Python_user descriptive analysis
df['Python_user'].value_counts()

In [ ]:
python_df = df['Python_user']

python_df = pd.DataFrame(python_df.value_counts(sort=True,dropna=False))

python_df['cum_sum'] = python_df['count'].cumsum()

python_df['cum_perc'] = 100*python_df['cum_sum']/python_df['count'].sum()

python_df

## Análisis de la variable categórica "R_user"

In [ ]:
### R_user descriptive analysis
print(df['R_user'].value_counts())

In [ ]:
# Filtering R_user data
r_df = df['R_user']

# Group by R_user
r_df = pd.DataFrame(r_df.value_counts(sort=True))

# Create new column with cumulative sum
r_df['cum_sum'] = r_df['count'].cumsum()

# Create new column with relative frequency
r_df['cum_perc'] = 100*r_df['cum_sum']/r_df['count'].sum()

# Show value
r_df

## Análisis de la variable categórica "Tasks"

In [ ]:
### Tasks descriptive analysis

# Filtering Tasks data
tasks_df = df['Tasks']

# Group by tasks
tasks_df = pd.DataFrame(tasks_df.value_counts(sort=True))

# Create new column with cumulative sum
tasks_df['cum_sum'] = tasks_df['count'].cumsum()

# Create new column with relative frequency
tasks_df['cum_perc'] = 100*tasks_df['cum_sum']/tasks_df['count'].sum()

# Show values
tasks_df

#  4.- Análisis de las variables númericas discretas

## Análisis de las variables númericas "Age" y "Publications"

In [ ]:
## Age

# To write the name of the output list
print("\nAge Variable: \n")

# Dimension of the Age variable
print("Number of elements: {0:.0f}".format(df['Age'].size))

# Minimum and maximum of the Age variable
print("Minimum: {0:.3f} Maximum: {1:.3f}".format(df['Age'].min(), df['Age'].max()))

# Mean of the Age variable
print("Mean: {0:.3f}".format(df['Age'].mean()))

# Variance of the Age variable
print("Variance: {0:.3f}".format(df['Age'].var()))

# Standard deviation of the Age variable
print("Standard Deviation: {0:.3f}".format(df['Age'].std()))

In [ ]:
df['Age'].describe()

In [ ]:
##Publications

# To write the name of the output list
print("\nPublications: \n")

# Dimension of the Publications variable
print("Number of elements: {0:.0f}".format(df['Publications'].size))

# Minimum and maximum of the Publications variable
print("Minimum: {0:.3f} Maximum: {1:.3f}". format(df['Publications'].min(), df['Publications'].max()))

# Mean of the Publications variable
print("Mean: {0:.3f}".format(df['Publications'].mean()))

# Variance of the Publications variable
print("Variance: {0:.3f}".format(df['Publications'].var()))

# Standard deviation of the Publications variable
print("Standard Deviation: {0:.3f}".format(df['Publications'].std()))

In [ ]:
df['Publications'].describe()

## Análisis de la Frecuencia de las publicaciones

In [ ]:
df[df["Publications"] == 33].shape

In [ ]:
df["Publications"].max()

Se puede concluir que hay 14 personas que han realizado 33 publicaciones

In [ ]:
### Frequency analysis of Publications variable

# Filtering Publications data
pubs_df = df['Publications']

# Group by publications
pubs_df = pd.DataFrame(pubs_df.value_counts(sort=True))

# Create new column with cumulative sum
pubs_df['cum_sum'] = pubs_df['count'].cumsum()

# Create new column with relative frequency
pubs_df['cum_perc'] = 100*pubs_df['cum_sum']/pubs_df['count'].sum()

# Show values
pubs_df

## Dos formas de dividir el intervalo y su correspondiente frecuencia

In [ ]:
# b) Division at fixed intervals, i.e., the buckets object indicates
#    the limits of the intervals. The intervals should be closed on right.
#custom_bins = [0,11, 20, 30, 40,70]

custom_bins = [0,13,70]
table = np.histogram(df['Publications'], bins=custom_bins)

#        3 personas           197 personas
#    0              13                         70  [Nro. publicaciones]
#    ------------------------------------------- 
#
table

In [ ]:
### Division at intervals and corresponding frequencies

# a) Division of the interval in 11 equal parts, and the interval closed on right
table = np.histogram(df['Publications'], bins=11, range=(0, 70))

table

# 6.- Representacion Gráfica

## 6.1.- Pie Chart

In [ ]:
### Pie Chart Gender
# Import packages matplotlib.pyplot and pandas
import matplotlib.pyplot as plt

# Pie chart labels
label_list = df['Gender'].value_counts(sort=False).index

# Plot pie chart axis
plt.axis("equal")

# The pie chart is oval by default. To make it a circle use pyplot. axis(“equal”)
# To show the percentage of each pie slice, pass an output format to the autopct 
# parameter (rounding to 1 decimal place). 
plt.pie(df['Gender'].value_counts(sort=False),
        labels=label_list,autopct="%1.1f%%")

plt.title("Researchers Gender")

plt.show()

## 6.2 Bar Graph

In [ ]:
### Tasks Bar Graph
# Grouped sum of Tasks
var = df['Tasks'].value_counts(sort=False)

# Tasks Bar Graph
plt.figure()

# Setting y-axis label
plt.ylabel("Number of Reseachers")

# Setting graph title
plt.title("Counting Reseacher’s Tasks")

# Trigger Bar Graph
var.plot.bar()

# Show Bar Graph
plt.show()

## 6.3.- Boxplots

In [ ]:
#df = pd.read_csv("data.csv",sep = ";")
#df.head()

In [ ]:
### Boxplot of Age variable

# First we have to take NaN values and substitute 
# them for the mean of the variable
#df['Age']=df['Age'].replace('nan',df['Age'].mean())

# Set type plot
df['Age'].plot(kind='box')

# Setting Plot Title
plt.title('Age Boxplot')

# Show Plot
plt.show()

In [ ]:
### Boxplot of Publications variable

# Plot boxplot and create one or more subplots 
# using add_subplot, because you can’t create blank figure

# Set type plot
df['Publications'].plot(kind='box')

# Boxplot Title
plt.title('Publications Boxplot')

# Show Boxplot
plt.show()

## Boxplot mostrando el número de publicaciones dependiendo de la edad del investigador

In [ ]:
### Boxplot of Publications vs. Age
# Import pandas package
import pandas as pd
# First we have to take NaN values and 
# substitute them for the mean of the variable
# df['Age']=df['Age'].replace('nan',df['Age'].mean())

# Get only Publications and Age variables
new_df = df.loc[:,['Age','Publications']]
# Boxplot
new_df.boxplot(by='Age',rot = 90, figsize=(10,10))

In [ ]:
df_28 = df[df["Age"]==28]
max(df_28["Publications"])

In [ ]:
df[(df["Age"]>28) & (df["Age"]<35)].head()

In [ ]:
df[df["Age"] == 28].sort_values('Publications', ascending = False)

In [ ]:
# Cual es la  cantidad  maxima de publicaciones que ha realizado
# una persona de 28 años.
df[df["Age"]==28].sort_values("Publications", ascending =False).head(1)

In [ ]:
# Cual es la cantidad maxima de publicaciones que ha realizado
# una persona de 28 años.
df[df["Age"]==28].sort_values("Publications", ascending =True).tail(1)

In [ ]:
# Cual es la cantidad minima de publicaciones que ha realizado
# una persona de 28 años.
df[df["Age"]==28].sort_values("Publications", ascending = True).head(1)

## Histograma del número de publicaciones

In [ ]:
### Histogram of the number of Publications

# Publications Histogram
fig=plt.figure() #Plots in matplotlib reside within a figure object, use plt.figure to create new figure

# Create one or more subplots using add_subplot, because you can’t create blank figure
ax = fig.add_subplot(1,1,1)

# Variable
# https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.hist.html
ax.hist(df['Publications'],bins="sturges", facecolor='green')# Here it is possible to change the number of bins

# Limits of x axis
ax.set_xlim(0, 70)

# Limits of y axis
ax.set_ylim(0,80)

# Set grid on
ax.grid(True)

# Labels and Title
plt.title('Publications distribution')
plt.xlabel('Publications')
plt.ylabel('#Reseachers')

# Finally, show plot
plt.show()

In [ ]:
### Histogram of the number of Publications

# Publications Histogram
fig=plt.figure() #Plots in matplotlib reside within a figure object, use plt.figure to create new figure

# Create one or more subplots using add_subplot, because you can’t create blank figure
ax = fig.add_subplot(1,1,1)

# Variable
ax.hist(df['Publications'],facecolor='green')# Here it is possible to change the number of bins

# Limits of x axis
ax.set_xlim(0, 70)

# Limits of y axis
ax.set_ylim(0,80)

# Set grid on
ax.grid(True)

# Labels and Title
plt.title('Publications distribution')
plt.xlabel('Publications')
plt.ylabel('#Reseachers')

# Finally, show plot
plt.show()